<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="DK1" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PayPalClientId" value="AXu9ksLyZs8iabI2ACzW-x3axXurtxbH0UXCaccZcQKHR1MTRvlDPuqT7Qh10eWCwVuVthzlr-3MWEBV" />
		<add key="PayPalClientSecret" value="EJm1wJVfQu2idyfZDwjMm4aVB7jF5l2jXV-Wpyh-Tosb2eJfjrBLMyhKudhFqR0wjlQENlAVZl_i_Lee" />
		<add key="PayPalMode" value="sandbox" />
		<add key="GitHub:ClientId" value="Ov23li3mXZjDvgUeEwKv" />
		<add key="GitHub:ClientSecret" value="e253e6ee6354d5c19b4a39600b6351951c05b218 " />
		<add key="Google:ClientId" value="234177400170-r2m9avhthpbk8t97t8ifcjgntc3al231.apps.googleusercontent.com" />
		<add key="Google:ClientSecret" value="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" />
		<add key="Facebook:AppId" value="1056466813108629" />
		<add key="Facebook:AppSecret" value="376cdfbb114e990eaf6e33d14b4344d3" />
	</appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
